.centralize-container {
    width: 100vw;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vmin;
}

.max-vh {
    height: calc(var(--vh, 1vh) * 100);
}