:root:root {
    --van-primary-color: #ed69a6;
}

#app {
    .van-field {
        border-radius: 99999px;

        .van-field__label {
            width: 20%;
            padding-left: 8px;
        }
    }
}
